java/src/test/resources/schemas/dtd/newspaper.dtd

<!ELEMENT NEWSPAPER (article+)>
<!ELEMENT article (headline,byline,lead,body,notes)>
<!ELEMENT headline (#PCDATA)>
<!ELEMENT byline (#PCDATA)>
<!ELEMENT lead (#PCDATA)>
<!ELEMENT body (#PCDATA)>
<!ELEMENT notes (#PCDATA)>

<!ATTLIST article
	author CDATA #REQUIRED
	editor CDATA #IMPLIED
	date CDATA #IMPLIED
	edition CDATA #IMPLIED>
